body {
  background-color: #06754b;
}

.card {
    background-color: #ffffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 120px;
    height: 200px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0.5rem;
    border-radius: 8px;
    font-size: 3rem;
    &.diamonds, &.hearts {
      color: red;
    }
}